<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Getting credit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Getting Credit</h1>
    <form action="#" th:action="@{/getCredit}" th:object="${getCreditRequest}" method="post">
        <p>Lending Rate In Percent: <input type="text" th:field="*{creditInfo.lendingRateInPercent}" /></p>
        <p>How Many Months: <input type="text" th:field="*{creditInfo.howManyMonths}" /></p>
        <p>First Month Payment: <input type="text" th:field="*{creditInfo.monthPayment}" /></p>
        <p>Credit Volume: <input type="text" th:field="*{creditInfo.creditVolume}" /></p>
    	<!--
    	<p>First Payment Date (YYYY-MM-DD): <input type="datetime-local" th:field="*{creditInfo.firstPaymentDate}" /></p>
        -->
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
